:root {
  --accent-color: #b9fc03;
  --dark-color: #333a53;
  --light-color: #ecf8dc;
  --text-color: #121624;

  --pressed-state-color: #404bbf;
  --success-color: #31d0aa;
  --subtle-text-color: #8e8f99;
  --hero-background-color: #2e2f42;
  --white-background-color: #fff;
  --modal-background-color: #fcfcfc;
}

body {
  font-family: "Golos Text", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

section {
  padding: 120px 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2 {
  color: var(--text-color);
  font-size: 32px;
  margin-bottom: 25px;
}

/* header */

/* Hero */

.hero {
  background-image: url(../images/hero-bg.jpg);
}

h1 {
  color: var(--dark-color);
  font-family: Rubik Moonrocks, serif;
  font-size: 84px;
  padding-top: 80px;
  padding-bottom: 20px;
  width: 70%;
}

.hero-txt {
  color: var(--dark-color);
  font-size: 24px;
  line-height: 1.5;
  padding-bottom: 80px;
  width: 70%;
}

/* Call to action */

.call-section {
  padding-top: 0;
  padding-bottom: 0;
}

.call-section .container {
  display: flex;
  gap: 10%;
  align-items: center;
}

.call-txt-box {
  width: 45%;
}

.png-set {
  display: flex;
  gap: 6%;
  margin: 15px 10%;
}

.png-box {
  width: 30px;
}

.call-txt {
  font-size: 20px;
  line-height: 1.2;
}

.call-img-box {
  width: 45%;
}

/* For whom */

.audience {
  background-color: var(--light-color);
}

.audience-about {
  font-size: 20px;
  margin-bottom: 15px;
}

.audience-list {
  display: flex;
  gap: 10px;
}

.audience-item {
  border: 1px solid rgba(51, 58, 83, 0.4);
  border-radius: 4px;
  box-shadow: 0px 1px 6px 0px rgba(51, 58, 83, 0.08),
    0px 1px 1px 0px rgba(51, 58, 83, 0.16),
    0px 2px 1px 0px rgba(51, 58, 83, 0.08);
  padding: 18px 15px;
  text-align: center;
  flex-basis: calc((100% - 10px) / 6);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.audience-item:hover {
  background-color: #b9fc03;
}

.audience-txt {
  margin-top: 10px;
  font-size: 14px;
}

/* Customers */

/* Footer */
