:root {
  --accent-color: #b9fc03;
  --dark-color: #333a53;
  --light-color: #ecf8dc;
  --text-color: #121624;

  --pressed-state-color: #404bbf;
  --success-color: #31d0aa;
  --subtle-text-color: #8e8f99;
  --hero-background-color: #2e2f42;
  --white-background-color: #fff;
  --modal-background-color: #fcfcfc;
}

body {
  font-family: "Golos Text", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

section {
  padding: 120px 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

/* Hero */

.hero {
  background-image: url(../images/hero-bg.jpg);
}

h1 {
  color: var(--dark-color);
  font-family: Rubik Moonrocks, serif;
  font-size: 84px;
  padding-top: 80px;
  padding-bottom: 20px;
  width: 70%;
}

.hero-txt {
  color: var(--dark-color);
  font-size: 24px;
  line-height: 1.5;
  padding-bottom: 80px;
  width: 70%;
}

/* Call to action */

.call-section {
  padding-top: 0;
  padding-bottom: 0;
}

.call-section .container {
  display: flex;
  gap: 10%;
  align-items: center;
}

.call-txt-box {
  width: 45%;
}

.call-img-box {
  width: 45%;
}

/* Our Team */

/* Customers */

/* Footer */
